*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

header{
    background-color: rgba(4, 18, 98, 0.972);
    margin: 0;
    
} 

header h2{
    margin: 0;
    padding: 10px 50px 0 50px;
    color: #fff;
    font-weight: 900;
    font-size: 40px;
}
header p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    margin-top: -10px;
    padding: 0 0 25px 50px;
    color: #fff;
}
.center{
    text-align: center;
    margin: 30px auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.center p {
    padding-top: 0;
    font-size: 30px;
    margin-top: 20px;
}

footer{
    background-color: rgba(4, 4, 98, 0.972);
    padding: 20px 0 20px 0;
    bottom: 0;
    max-width: 100vw;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}

footer small{
    margin-right: 50px;
    color: #fff;
    font-weight: 100;
    font-size: 18px;
}